.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #990000;
  height: 200px;
  padding: 20px;
  color: white;
}
.sub-header{
  padding: 20px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

.node:hover {
  background-color: rgb(220, 245, 243);
  cursor: pointer;
}
.topnode {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  background-color: #FFF4A2;
  font-weight: bold;
}
.topnode:hover {
  background-color: #E68924;
  cursor: pointer;
}
.info, .node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.topdiv {
  padding-top: 10px;
}
.mybutton {
  right: 0;
  top: 1;
  position: absolute;
  background-color: #F3A716; 
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.mybutton:hover {
  cursor: pointer;
  background-color: #F3D916;
}
.mybutton:focus {
  outline: none;
}
.email-holder {
  margin-left: 10px;
}
.tree-view_arrow-empty {
  color: yellow;
}

