.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #990000;
  height: 200px;
  padding: 20px;
  color: white;
}
.sub-header{
  padding: 20px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

.node:hover {
  background-color: rgb(220, 245, 243);
  cursor: pointer;
}
.topnode {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  background-color: #FFF4A2;
  font-weight: bold;
}
.topnode-selected {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  background-color: #E68924;
  font-weight: bold;
}
.topnode:hover {
  background-color: #E68924;
  cursor: pointer;
}
.topnode-selected:hover {
  background-color: #FFF4A2;
  cursor: pointer;
}
.info, .node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.topdiv {
  padding-top: 10px;
}
.mybutton {
  right: 0;
  top: 1;
  position: absolute;
  background-color: #F3A716; 
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.mybutton:hover {
  cursor: pointer;
  background-color: #F3D916;
}
.select {
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 0.6em;
}
.select:hover {
  cursor: pointer;
}
.comment-div {
  text-align: left;
  padding-left: 5em;
  padding-right: 5em;
}
.comment-div:hover {
  background-color: rgb(220, 245, 243);
  cursor: pointer;
}
.mybutton:focus {
  outline: none;
}
.email-holder {
  margin-left: 10px;
}
.tree-view_arrow-empty {
  color: yellow;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
    position: flex;
  align-items: left;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  position: flex;
  align-items: left;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  align-items: left;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
.align-left {
  position: flex;
  //padding-right: 60em;
  padding-left: 0em;
}

